* {
  font-family: "Roboto", sans-serif;
}

/* Scrollbar style for WebKit browsers (Chrome, Safari) */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222222a8;
  border-radius: 10px;
  transition: background 0.8s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}
.pagecontent {
  margin-top: 20px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-top: 200px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100px;
  height: 50px;
  background-color: #292929;
  transition: 0.5s;
  border-radius: 100px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: #d9d9d9;
  border-radius: 100px;
  transition: 0.5s;
}

input:checked + .slider::before {
  transform: translateX(50px);
}

input:checked + .slider {
  background-color: #0af7ff94;
}

.main-head {
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
  justify-content: center;
}

.Second-head {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
}

.Date-time-section {
  font-size: 16px;
  color: white;
  line-height: 25px;
}

.main-content {
  margin-top: 40px;
  display: flex;
  width: 100%;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  justify-content: center;
}
.part_one {
  align-content: flex-start;
  align-items: flex-start;
  align-self: start;
  background-image: linear-gradient(to top, rgb(8, 8, 8) 40%, rgb(4, 4, 4) 60%);

  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 3px 3px 5px rgba(12, 12, 12, 0.267);
  border-radius: 48px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 60px;
  grid-column: auto / span 2;
  height: 320px;
  justify-content: center;
  justify-self: start;
  overflow: hidden;
  position: relative;
  color: white;
  font-size: 25px;
  justify-content: space-between;
}

.grediant {
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0) 0.0005%,
    rgb(255, 255, 255) 99.9995%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.part_two {
  width: 300px;
  background: radial-gradient(circle, #000000, #111111);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 3px 3px 5px rgba(12, 12, 12, 0.267);
  align-content: flex-start;
  align-items: flex-start;
  align-self: start;
  background-color: rgb(13, 13, 13);
  border-radius: 50px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  grid-column: auto / span 2;
  height: 320px;
  justify-content: center;
  justify-self: start;
  overflow: hidden;
  padding: 48px;
  padding-bottom: 0%;
  position: relative;
  background-image: url("../../Assets/Sky.jpg");
  will-change: var(--framer-will-change-override, transform);
  overflow: hidden;
}

.part_two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000000e3 1%, rgba(4, 4, 4, 0) 99%);
}

.part_two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(150deg, #35363693 1%, rgba(4, 4, 4, 0) 99%);
}

.part_two img {
  display: block;
  width: 270px;
  bottom: 0px;
  padding-top: 40px;
  object-fit: cover;
}

.first_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Logo_Social1 {
  width: 40px;
  height: 40px;
  height: 40px;
  outline: 1px solid rgba(255, 255, 255, 0.08);
  transition: outline 0.3s linear;
  box-shadow: 3px 3px 5px rgba(12, 12, 12, 0.267);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
}

.Logo_Social1 img {
  justify-content: center;
  align-items: center;
  width: 20px;
}

.Logo_Social2 {
  width: 40px;
  height: 40px;
  height: 40px;
  outline: 1px solid rgba(255, 255, 255, 0.08);
  transition: outline 0.3s linear;
  box-shadow: 3px 3px 5px rgba(12, 12, 12, 0.267);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.Logo_Social2 img {
  justify-content: center;
  align-items: center;
  width: 20px;
}
.Touch {
  height: 40px;
  outline: 1px solid rgba(255, 255, 255, 0.08);
  transition: outline 0.3s linear;
  box-shadow: 3px 3px 5px rgba(12, 12, 12, 0.267);
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  display: flex;
  padding: 10px;
}

.Touch:hover,
.Logo_Social1:hover,
.Logo_Social2:hover {
  outline-width: 4px;
}

.button_section {
  justify-content: space-between;
  display: flex;
  gap: 15px;
}

.description {
  font-size: 18px;
  color: #797979;
  font-weight: 500;
}

.head_name {
  font-size: 45px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.head_name span {
  font-family: "Kaushan Script", cursive;

  font-style: normal;
}

.Bigtext1 span {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  margin-left: 20px;
  margin-right: 20px;
}

.logomarkme {
  width: 200px;
  height: 350px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.3s ease;
}

.volunteer {
  width: 90%;
}

.VolExperiance {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Volhead {
  color: white;
  margin-top: 80px;
  text-align: center;
}

.Minuri2 {
  width: 300px;
}

.row {
  display: flex;
}

.text-section {
  display: flex;
  flex-direction: column; /* Ensures the elements stack vertically */
  justify-content: center; /* This centers the content vertically within the text-section */
  flex: 1;
  margin-right: 20px;
}
.imgholder {
  position: relative;
  width: 260px;
  margin-right: 20px; /* Ensure the gradient overlay stays on top of the image */
}

.Minuri2 {
  padding-top: 40px;
  width: 260px;
  height: auto;

  display: block;
}

.second::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0) 5%,
    rgba(8, 8, 8, 0.568) 35%,
    rgba(4, 4, 4, 0.158) 60%
  ); /* Adjust gradient colors as needed */
  z-index: 1; /* Places the gradient above the image */
}

.Minuri2 {
  position: relative;
  z-index: 0;
  height: 300px;
  width: auto;
  padding-right: 100px;
}

.secondsec {
  width: 100px;
}

.second {
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.seconDes {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

.project-card-outline {
  outline-offset: -1px;

  border-radius: 24px;
  outline: 1px solid rgba(242, 242, 242, 0.3);
  align-self: stretch;
  padding: 8px;
  position: relative;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  background-size: 200% 200%;
  animation: moveGradient 60s ease infinite;
}

.project-card-outline2 {
  outline-offset: -1px;
  background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.164),
      rgba(255, 255, 255, 0) 70%
    ),
    rgba(242, 242, 242, 0.02);
  border-radius: 24px;
  outline: 1px solid rgba(242, 242, 242, 0.3);
  align-self: stretch;
  padding: 8px;
  position: relative;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* For frosted glass effect */
  background-size: 200% 200%;
  animation: moveGradient 20s ease infinite; /* Animation */
  overflow: hidden;
}

/* Hover effect applied to the card container */
.card:hover {
  background: linear-gradient(
    to bottom,
    rgba(5, 146, 228, 0.432),
    rgba(255, 255, 255, 0) 90%
  );
}

.Project_img img,
.CardHead img {
  transition: transform 0.3s ease;
  border-radius: 10px 10px 0px 0px;
}

.card:hover .Project_img img {
  transform: translateY(-8px);
}

.card:hover .CardHead img {
  transform: translateX(10px);
}

.project-card-outline,
.CardHead,
.Project_img {
  background-color: transparent;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Arrow {
  width: 32px;
}

.text-projectcard-title {
  letter-spacing: 0;
  text-shadow: 0 -2px 10px #fff3;
  justify-content: space-between;
  font-family: Neue Montreal, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  color: white;
}

.text-projectcard-description {
  color: #f2f2f280;
  letter-spacing: 0.2px;
  align-self: stretch;
  padding-right: 32px;
  font-family: Neue Montreal, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.CardHead {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.Arrow32 {
  border-radius: 10px;
  outline: 1px solid #f2f2f225;
  box-shadow: 0 40px 80px #00000080;
  width: 80%;
}

.projectSection {
  display: flex;
  justify-content: center;
}

.card {
  margin: 10px;
  width: 50%;
  cursor: pointer;
  border-radius: 24px;
  text-decoration: none;
}

Link {
  text-decoration: none;
}
.Project_img {
  display: flex;
  justify-content: center;
  bottom: 0px;
}

.Arrow {
  cursor: pointer;
}
.Project_img {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  bottom: -15px;
  z-index: -1;
}

.OtherProjectHolder {
  display: flex;
  background: radial-gradient(circle, #000000, #1111118f);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 3px 3px 5px rgba(12, 12, 12, 0.267);
  padding: 20px;
  border-radius: 30px;
}
table tr {
  color: white;
  padding: 20px;
}

table {
  width: 90%;
  justify-content: center;
  justify-content: space-between;
}

th,
td {
  border-bottom: 1px solid #dddddd11;
  padding: 10px;
  text-align: left;
}

tr:hover {
  border-bottom: 2px solid #dddddd1e;
}

.Volhead {
  font-size: 24px;
  margin-bottom: 10px;
}

.OtherProjectHolder {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead th {
  color: white;
  padding: 30px;
  text-align: left;
  cursor: url("../../Assets/cursor.png"), auto;
}

tbody td {
  padding: 30px;
  vertical-align: middle;
  border-bottom: 1px solid #dddddd11;
  cursor: url("../../Assets/cursor.png"), auto;
}

.section-footer {
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  position: relative;
  margin: 0;
  color: white;
  margin: 0px;
  position: relative;
}

.footer {
  width: 60px;
  height: auto;
}
.text-footer-links-overline {
  opacity: 0.5;
  letter-spacing: 1.5px;
  font-family: Neue Montreal, sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
}
.text-under-copyright {
  opacity: 0.5;
  letter-spacing: 0.2px;
  text-transform: none;
  font-family: Neue Montreal, sans-serif;
}

.text-footer-copyright {
  letter-spacing: 0.2px;
  font-family: Neue Montreal, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.text-last-updated {
  opacity: 0.5;
  letter-spacing: 0.2px;
  font-family: Neue Montreal, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.footer-links-column-wrapper {
  grid-column-gap: 48px;
  display: flex;
}

.footer-link {
  grid-column-gap: 4px;
  color: var(--on-background);
  align-self: stretch;
  align-items: center;
  height: 40px;
  text-decoration: none;
  display: flex;
}

.container-footer {
  grid-row-gap: 64px;
  flex-direction: column;
  width: 882px;
  display: flex;
  margin: 0;
}

.footer-top-wrapper {
  justify-content: space-between;
  display: flex;
}

.footer-bottom-wrapper {
  grid-column-gap: 48px;
  flex: 1;
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-end;
  display: flex;
}

.icon-external {
  width: 20px;
}

.contactbtn {
  z-index: 10000;
  text-decoration: none;
  color: white;
}

.sentmailbtn {
  width: 100px;
  z-index: 1000000;
}

.contactbtn {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Optional: inherits the parent element's text color */
}

.btn {
  text-decoratio: none;
  color: white;
}

.Bigtext1 {
  margin-top: 60px;
  color: white;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0;
  text-shadow: 0 -2px 10px rgba(255, 255, 255, 0.233);
  justify-content: center;
  font-family: Neue Montreal, sans-serif;

  line-height: 100%;
  display: flex;
}

.bigtextwrap {
  padding-top: 100px;
  padding-bottom: 100px;
}
.Arrow2 {
  width: 90px;
}

.Arrow2Hoder {
  justify-content: right;
  display: flex;
}

.contact {
  padding: 0;
  margin: 0;
  width: 500px;
}

.Minuri3 {
  margin-top: 30px;
  height: 280px;
  width: auto;
  padding-left: 1px;
  margin-left: 0;
}

.Grapicscard {
  text-decoration: none;
  position: relative;
  grid-row-gap: 16px;
  border: 1px solid #0af7ff15;
  border-radius: 20px;
  align-self: stretch;
  padding: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  transition: background 0.8s linear;
  margin-top: 100px;
  margin-bottom: 50px;
  background: radial-gradient(
    circle at 50% 0,
    #0af7ff13,
    #22222209 50%
  ); /* Default state */
  overflow: hidden;
  cursor: pointer; /* Ensure the pseudo-element stays within bounds */
}

.Grapicscard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at 50% 0,
    #0af7ff46,
    #22222246 60%
  ); /* Hover state gradient */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.8s linear; /* Smooth transition */
  z-index: -1; /* Place behind the content */
  border-radius: 20px; /* Match the border-radius */
}

.Grapicscard:hover::after {
  opacity: 1;
  cursor: pointer; /* Fade in the hover gradient */
}

.headGrapic {
  color: #f2f2f266;
  text-align: center;
  letter-spacing: 1.5px;
  margin-top: 1px;
  font-family: Neue Montreal, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.flyers {
  width: 35px;
  align-items: center;
  display: flex;
  height: auto;
}

.GrapicSection {
  display: flex;
  justify-content: center;
}
